:root {
  --red: #e63946;
  --honeydew: #f1faee;
  --powderblue: #a8dadc;
  --celadonblue: #457b9d;
  --prussianblue: #1d3557;
  --fontfamily: 'Cinzel';
}

*, *:before, *:after {
  box-sizing: border-box;
}


body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--honeydew);
  font-family: 'Roboto';
  font-size: 14px;
}

header {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.book-icon {
  font-size: 40px;
  color: var(--celadonblue);
}

h1 {
  font-family: 'Cinzel', serif;
  font-size: 3rem;
  color: var(--prussianblue);
}


.main-container {
  display: flex;
  margin-top: 100px;
  gap: 50px;
  align-items: flex-start;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  padding: 50px 10px;
  background-color: var(--prussianblue);
  width: 800px;
  height: fit-content;
  border-radius: 2%;
}

.right {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 365px;
  width: 300px;
  height: 200px;
  background-color: var(--powderblue);
  
}

.table {

color: var(--honeydew);
width: 80%;
border-collapse: collapse;
}

tr.theader {
  outline: thin solid;
  outline-color: var(--red);
  border-bottom: none;
}

tr {
  border-bottom: 1px dashed var(--red);
}

td {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  border: 1 px solid black;
  width: 70px;
  height: 50px;
  text-align: center;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: fit-content; /* Could be more or less, depending on screen size */
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.form>label,
.form>input {
  padding: 3px 5px;
}

.form {
  font-family: 'Cinzel';
  font-weight: 500;
  font-size: 1.2rem;
  width: 300px;
  padding: 20px 5px;
}

.group-label-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.group-label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 8px;
}
#readStatus {
  width: 100%;
  padding: 8px;
}



#submitBtn {
  display: block;
  width: 100%;
  margin-top: 30px;
  background-color: green;
  color: var(--honeydew);
  font-size: 1.2rem;
  font-family: 'Roboto';
  border-radius: 10px;
  padding: 8px 0;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--red);
  color: white;
  text-align: center;
}


button {
  background-color: var(--prussianblue);
  border: 2px solid var(--honeydew);
  border-radius: 30px;
  box-shadow: var(--red) 4px 4px 0 0;
  color:var(--honeydew);
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 16px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: var(--red);
  box-shadow: var(--prussianblue) 4px 4px 0 0;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}